header #nav-up {
  background-color: #222222;
  width: 100%;
  height: 70px;
}
header #nav-up ._usd {
  margin-top: 14px;
}
header #nav-up ._usd .navbar-nav li .firsta {
  padding: 0px 16px !important;
  color: #c3c3c3;
  font-size: 14px !important;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
header #nav-up ._usd .navbar-nav li .firsta :hover {
  color: gray;
}
header #nav-up ._usd .dropdown-firstmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
header #nav-up ._usd .dropdown-firstmenu li span {
  background-color: #ef6c00;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
}
header #nav-up .nav-usd-flag {
  display: flex;
}
header #nav-up .flag .divider {
  margin: 1px !important;
}
header #nav-up .flag .ui {
  background-color: #222222 !important;
  color: white;
}
header #nav-up .flag .ui .search {
  background-color: #222222 !important;
}
header #nav-up .flag .ui .search .selection .dropdown {
  background-color: #222222 !important;
}
header #nav-up .nav-up-icon {
  display: flex;
  justify-content: end;
  height: 70px;
  text-align: center;
  align-items: center;
  gap: 35px;
}
header #nav-up .nav-up-icon a {
  text-decoration: none;
}
header #nav-up .nav-up-icon a i {
  color: #C3C3C3;
  font-size: 22px;
}
header #nav-up .nav-up-icon a span {
  position: relative;
  bottom: 4px;
  left: 5px;
  color: #C3C3C3;
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header #nav-search {
  background-color: #EF6C00;
  width: 100%;
  height: 90px;
}
header #nav-search .sophia {
  margin-top: 20px;
}
header #nav-search .sophia a {
  text-decoration: none;
}
header #nav-search .sophia a h1 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header #nav-search .search {
  height: 90px;
  display: flex;
  align-items: center;
}
header #nav-search .search button {
  background-color: #333;
  border: none;
  color: white;
  width: 145px;
  height: 41px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
header #nav-search .search .navbar {
  width: 90%;
  padding-left: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
header #nav-search .search .navbar .search {
  width: 100%;
}
header #nav-search .search .nav-search-icon a i {
  color: red;
}
header #nav-search .nav-search-icon {
  height: 90px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header #nav-search .nav-search-icon a .left-icon {
  color: white;
  font-size: 28px;
}
header #nav-search .nav-search-icon a .right-icon {
  color: white;
  font-size: 20px;
  margin-left: 39px;
}
header #nav-search .nav-search-icon .call-helpline .up-text {
  color: white;
  font-size: 13px;
}
header #nav-search .nav-search-icon .call-number b {
  color: white;
  font-size: 17px;
}
header #nav-search .nav-search-icon span {
  color: white;
  position: relative;
  right: 15px;
  top: 4px;
}
header #nav-search .nav-search-icon .add-card-items {
  display: flex;
}
header #nav-search .nav-search-icon .add-card-items a i {
  font-size: 18px;
}
header #nav-search .nav-search-icon .add-card-items .basket-number {
  background-color: black;
  width: 18px;
  position: relative;
  height: 17px;
  top: -12px;
  right: 6px;
  border-radius: 50%;
}
header #nav-search .nav-search-icon .add-card-items sup {
  color: white;
  position: relative;
  right: -6px;
  top: -5px;
  font-weight: 600;
}
header #nav-down {
  background-color: #F7F7F7;
}
header #nav-down .navbar-down {
  height: 64px;
}
header #nav-down .navbar-down .home {
  position: relative;
  top: 3px;
}
header #nav-down .nav-items li:hover {
  background-color: #777;
}

main #page-title {
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3;
}
main #page-title .about-us h4 {
  font-size: 16px;
  color: #555;
  font-weight: 500;
}
main #page-title .content {
  display: flex;
  justify-content: end;
  gap: 10px;
}
main #page-title .content li {
  list-style: none;
  font-size: 14px;
  color: #555;
  font-weight: 500;
}
main #page-title .content li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 14px;
}
main #page-title .content .about-us {
  display: flex;
}
main #about-us .about-us-intro h2 {
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #383838;
  font-weight: 700;
  margin-bottom: 20px;
}
main #about-us .about-us-intro p {
  line-height: 26px;
}
main #about-us .accordions h4 {
  font-size: 18px;
  font-weight: 600;
}
main #about-us .accordions .button-accordion {
  height: 47px;
}
main #services {
  background-color: #f5f5f5;
  height: 450px;
}
main #services .title {
  padding: 41px;
}
main #services .title h2 {
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #383838;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
main #services .title p {
  text-align: center;
  color: #777;
}
main #services .content {
  background-color: white;
  width: 410px;
  height: 214px;
}
main #services .content .icon {
  padding-top: 47px;
  margin-left: 19px;
}
main #services .content .icon i {
  font-size: 45px;
  color: #EF6C00;
}
main #services .content h4 {
  font-weight: 600;
  font-size: 22px;
  margin-left: 25px;
  margin-bottom: 6px;
  line-height: 2;
}
main #services .content p {
  line-height: 26px;
  margin-left: 25px;
  color: #333;
}
main #teams .title {
  text-align: center;
  margin-top: 50px;
}
main #teams .title h2 {
  margin-bottom: 10px;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #383838;
  font-weight: 700;
}
main #teams .title p {
  color: #777;
  font-weight: 500;
}
main #teams .team-members {
  display: flex;
}
main #teams .team-members .single-team-member {
  width: 295px;
}
main #teams .team-members .single-team-member:hover img {
  opacity: 0.5;
}
main #teams .team-members .single-team-member:hover .social {
  transform: translateY(-65px);
}
main #teams .team-members .single-team-member:hover .text {
  background-color: #444444;
}
main #teams .team-members .single-team-member:hover .text h4 {
  color: white;
}
main #teams .team-members .single-team-member:hover .text p {
  color: white;
}
main #teams .team-members .single-team-member .img {
  height: 365px;
  overflow-y: hidden;
}
main #teams .team-members .single-team-member .img img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
main #teams .team-members .single-team-member .social {
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #4050b5;
  transition: all 0.4s;
}
main #teams .team-members .single-team-member .social a i {
  color: white;
}
main #teams .team-members .single-team-member .text {
  border: 1px solid #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.4s ease;
  text-align: center;
}
main #teams .team-members .single-team-member .text h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
main #teams .team-members .single-team-member .text p {
  margin: 0;
  color: #333;
}

#footer {
  background-color: #F7F7F7;
  height: 345px;
}
#footer .sophia-logo a {
  text-decoration: none;
  color: black;
}
#footer .sophia-logo p {
  width: 361px;
  height: 85px;
  margin-top: 14px;
}
#footer .title {
  margin-left: 29px;
}
#footer .title .tel-box {
  display: flex;
}
#footer .title .tel-box .icon-text p {
  margin-left: 9px;
}
#footer .title input {
  padding: 0 65px 0 20px;
  border: 1px solid #e2e2e2;
  font-size: 15px;
  height: 45px;
  border-radius: 4px;
}
#footer .title button {
  width: 262px;
  height: 45px;
  margin-top: 20px;
  color: #fff;
  background-color: #EF6C00;
  font-weight: 700;
  font-size: 14px;
  border-radius: 3px;
}
#footer .title .h5 {
  margin-left: 32px;
}
#footer .title ul li {
  list-style: none;
}
#footer .title ul li a {
  line-height: 31px;
}
#footer .title .social-list {
  margin-top: 20px;
  margin-left: -202px;
}
#footer .title .social-list .social-list-inline {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}
#footer .title .social-list .social-list-inline li {
  border: 1px solid #444;
  margin-right: 6px;
  width: 33px;
  height: 33px;
  margin-top: 20px;
  text-align: center;
  border-radius: 50%;
}
#footer .title .social-list .social-list-inline li i {
  color: #383838;
}/*# sourceMappingURL=about.css.map */