header #nav-up {
  background-color: #222222;
  width: 100%;
  height: 70px;
}
header #nav-up .nav-up-icon {
  display: flex;
  justify-content: end;
  height: 70px;
  text-align: center;
  align-items: center;
  gap: 35px;
}
header #nav-up .nav-up-icon a {
  text-decoration: none;
}
header #nav-up .nav-up-icon a i {
  color: #C3C3C3;
  font-size: 22px;
}
header #nav-up .nav-up-icon a span {
  position: relative;
  bottom: 4px;
  left: 5px;
  color: #C3C3C3;
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header #nav-search {
  background-color: #EF6C00;
  width: 100%;
  height: 90px;
}
header #nav-search .sophia {
  margin-top: 20px;
}
header #nav-search .sophia a {
  text-decoration: none;
}
header #nav-search .sophia a h1 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header #nav-search .search {
  height: 90px;
  display: flex;
  align-items: center;
}
header #nav-search .search button {
  background-color: #333;
  border: none;
  color: white;
  width: 145px;
  height: 41px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
header #nav-search .search .navbar {
  width: 90%;
  padding-left: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
header #nav-search .search .navbar .search {
  width: 100%;
}
header #nav-search .search .nav-search-icon a i {
  color: red;
}
header #nav-search .nav-search-icon {
  height: 90px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header #nav-search .nav-search-icon a .left-icon {
  color: white;
  font-size: 28px;
}
header #nav-search .nav-search-icon a .right-icon {
  color: white;
  font-size: 20px;
  margin-left: 39px;
}
header #nav-search .nav-search-icon .call-helpline .up-text {
  color: white;
  font-size: 13px;
}
header #nav-search .nav-search-icon .call-number b {
  color: white;
  font-size: 17px;
}
header #nav-search .nav-search-icon span {
  color: white;
  position: relative;
  right: 15px;
  top: 4px;
}
header #nav-search .nav-search-icon .add-card-items {
  display: flex;
}
header #nav-search .nav-search-icon .add-card-items a i {
  font-size: 18px;
}
header #nav-search .nav-search-icon .add-card-items .basket-number {
  background-color: black;
  width: 18px;
  position: relative;
  height: 17px;
  top: -12px;
  right: 6px;
  border-radius: 50%;
}
header #nav-search .nav-search-icon .add-card-items sup {
  color: white;
  position: relative;
  right: -6px;
  top: -5px;
  font-weight: 600;
}
header #nav-down {
  background-color: #F7F7F7;
}
header #nav-down .navbar-down {
  height: 64px;
}
header #nav-down .navbar-down .home {
  position: relative;
  top: 3px;
}
header #nav-down .nav-items li:hover {
  background-color: #777;
}

main #page-title {
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3;
}
main #page-title .contact h4 {
  font-size: 16px;
  color: #555;
  font-weight: 500;
}
main #page-title .content {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
}
main #page-title .content li {
  list-style: none;
  font-size: 14px;
  color: #555;
  font-weight: 500;
}
main #page-title .content li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 14px;
}
main #page-title .content .about-us {
  display: flex;
}
main #billing-details .billing-details {
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
main #billing-details .billing-details .title h2 {
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #383838;
  font-weight: 700;
}
main #billing-details .billing-details h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
main #billing-details .billing-details .footer {
  text-align: center;
}
main #billing-details .billing-details .footer a {
  color: red;
}
main #billing-details .billing-details .group {
  position: relative;
  margin-bottom: 45px;
}
main #billing-details .billing-details input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
main #billing-details .billing-details input:focus {
  outline: none;
}
main #billing-details .billing-details label {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
main #billing-details .billing-details input:focus ~ label,
main #billing-details .billing-details input:valid ~ label {
  top: -7px;
  font-size: 12px;
  color: red;
}
main #billing-details .billing-details .bar {
  position: relative;
  display: block;
  width: 300px;
}
main #billing-details .billing-details .bar:before,
main #billing-details .billing-details .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: red;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
main #billing-details .billing-details .bar:before {
  left: 50%;
}
main #billing-details .billing-details .bar:after {
  right: 50%;
}
main #billing-details .billing-details input:focus ~ .bar:before,
main #billing-details .billing-details input:focus ~ .bar:after {
  width: 0%;
}
main #billing-details .billing-details .highlight {
  position: absolute;
  height: 60%;
  width: 80px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
main #billing-details .billing-details input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
main #billing-details .billing-details .input {
  display: flex;
  gap: 28px;
  margin-top: 30px;
}
main #billing-details .billing-details .input input {
  width: 303px;
}
main #billing-details .billing-details .add-info h3 {
  margin: 0;
  font-size: 28px;
  text-align: left;
  color: #383838;
  font-weight: 500;
}
main #billing-details .billing-details .add-info p {
  margin: 0;
  color: #777 !important;
}
main #billing-details .billing-details button {
  background-color: #EF6C00;
  color: white;
  width: 156.59px;
  height: 46px;
  font-weight: 500;
}
main #billing-details .billing-details .post-content input {
  margin-top: 20px;
  padding: 30px;
}
main #billing-details .order-box {
  border: 1px solid #d9d9d9;
  padding: 30px;
}
main #billing-details .order-box .title .content {
  position: relative;
  padding-bottom: 25px;
  color: #444;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
main #billing-details .order-box .title .content span {
  font-size: 20px;
  font-weight: 500;
}
main #billing-details .order-box .title .content .total {
  font-size: 14px;
  position: relative;
  width: 35%;
  float: right;
}
main #billing-details .order-box .title ul {
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}
main #billing-details .order-box .title ul li {
  padding-bottom: 25px;
}
main #billing-details .order-box .title .radio {
  display: flex;
  align-items: center;
}
main #billing-details .order-box .title .radio input {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
main #billing-details .order-box .title .radio label {
  color: #848484;
  font-weight: 400;
  margin-left: 8px;
  margin-top: 5px;
}
main #billing-details .order-box .title .subtotal {
  display: flex;
}
main #billing-details .order-box .title .subtotal li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 20px;
  margin-bottom: 20px;
  width: 100%;
}
main #billing-details .order-box .title .subtotal span {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #f33927;
  font-weight: 400;
  width: 55%;
  float: right;
}
main #billing-details .order-box .title .button {
  margin-top: 20px;
}
main #billing-details .order-box .title .button button {
  background-color: #EF6C00;
  color: white;
  width: 154.57px;
  height: 46px;
  font-weight: 500;
  border-radius: 4px;
}
main #billing-details .total {
  display: flex;
}
main #billing-details .total li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 20px;
  margin-bottom: 20px;
  width: 100%;
}
main #billing-details .total span {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #f33927;
  font-weight: 400;
  width: 55%;
  float: right;
}

#footer {
  background-color: #F7F7F7;
  height: 345px;
}
#footer .sophia-logo a {
  text-decoration: none;
  color: black;
}
#footer .sophia-logo p {
  width: 361px;
  height: 85px;
  margin-top: 14px;
}
#footer .title {
  margin-left: 29px;
}
#footer .title .tel-box {
  display: flex;
}
#footer .title .tel-box .icon-text p {
  margin-left: 9px;
}
#footer .title input {
  padding: 0 65px 0 20px;
  border: 1px solid #e2e2e2;
  font-size: 15px;
  height: 45px;
  border-radius: 4px;
}
#footer .title button {
  width: 262px;
  height: 45px;
  margin-top: 20px;
  color: #fff;
  background-color: #EF6C00;
  font-weight: 700;
  font-size: 14px;
  border-radius: 3px;
}
#footer .title .h5 {
  margin-left: 32px;
}
#footer .title ul li {
  list-style: none;
}
#footer .title ul li a {
  line-height: 31px;
}
#footer .title .social-list {
  margin-top: 20px;
  margin-left: -202px;
}
#footer .title .social-list .social-list-inline {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}
#footer .title .social-list .social-list-inline li {
  border: 1px solid #444;
  margin-right: 6px;
  width: 33px;
  height: 33px;
  margin-top: 20px;
  text-align: center;
  border-radius: 50%;
}
#footer .title .social-list .social-list-inline li i {
  color: #383838;
}/*# sourceMappingURL=checkout.css.map */